@import "../../../../variables/Variables.scss";

.workout-content {
  display: flex;
  flex-direction: column;

  .types {
    display: flex;
    gap: 5px;
    // overflow-x: scroll; utilizar para mobile en las queries.

    .type {
      background-color: $white;
      border: 2px solid $footer;
      width: 100%;
    }
  }

  div {
    margin: 20px;
    border-radius: 15px;

    p.type-workout {
      color: $footer;
      font-size: 22px;
      font-family: "Poppins";
      font-weight: bold;
      text-align: center;
    }

    p.workout-description {
      color: $footer;
      font-size: 18px;
      font-family: "Poppins";
      text-align: justify;
      padding: 0 15px;
    }

    .image-container {
      border: none;
      display: flex;
      justify-content: center;
    }

    .image-workout {
      cursor: pointer;
      max-width: 15em;
      width: 100%;
      margin-top: 10px;
      border-radius: 8px;
      border: 1px solid black;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5); /* Aplicar sombra para simular relieve */
      transition: box-shadow 0.3s ease; /* Agregar transición para suavizar el efecto */
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .workout {
    div {
      text-align: center;
      background-color: $white;
      border: 2px solid $footer;

      img.imagenes {
        max-width: 100%;
      }

      p.name {
        color: $footer;
        font-size: 25px;
        font-family: "Poppins";
        font-weight: bold;
        text-align: center;
      }

      p.series {
        color: $footer;
        font-size: 18px;
        font-family: "Poppins";
        font-weight: bold;
        text-align: center;
      }

      p.description {
        color: $footer;
        font-size: 18px;
        font-family: "Poppins";
        text-align: justify;
        padding: 0 20px;
      }
    }
  }
  .scroll-up {
    float: right;
    margin-right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $finn;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
    .icon {
      height: 32px;
      &:hover {
        transform: scale(1.1); /* Aumentar el tamaño del elemento al 120% */
      }
    }
  }

  /*pantallas hasta 768px de ancho */
  @media screen and (max-width: 768px) {
  }

  /*pantallas hasta 1200px de ancho */
  @media screen and (max-width: 1200px) {
    .workout-content {
      .workout {
        p.name {
          color: red;
        }
      }
    }
  }

  /*pantallas más de  1200px de ancho */
  @media screen and (min-width: 1200px) {
  }
}
