@import "../../../../variables/Variables.scss";

.workout-content {
  display: flex;

  div {
    border: 2px solid $footer;
    margin: 20px;
    background-color: $white;
    border-radius: 15px;

    p.type-workout {
      color: $footer;
      font-size: 22px;
      font-family: "Poppins";
      font-weight: bold;
      text-align: center;
    }

    p.workout-description {
      color: $footer;
      font-size: 18px;
      font-family: "Poppins";
      text-align: justify;
      padding: 0 15px;
    }

    .image-container {
      border: none;
      display: flex;
      justify-content: center;
    }

    .image-workout {
      cursor: pointer;
      width: 15em;
      height: 12em;
      margin-top: 10px;
      border-radius: 8px;
      border: 1px solid black;
      box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5); /* Aplicar sombra para simular relieve */
      transition: box-shadow 0.3s ease; /* Agregar transición para suavizar el efecto */
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .workout {
    div {
      p.name {
        color: $footer;
        font-size: 25px;
        font-family: "Poppins";
        font-weight: bold;
        text-align: center;
      }

      p.series {
        color: $footer;
        font-size: 18px;
        font-family: "Poppins";
        font-weight: bold;
        text-align: center;
      }

      p.description {
        color: $footer;
        font-size: 18px;
        font-family: "Poppins";
      }
    }
  }
}
