@import "../../../../variables/Variables.scss";

.main-content {
  .register-form {
    font-family: Poppins;
    max-width: 400px;
    margin: 50px auto 50px auto;
    padding: 20px;
    background-color: $pale-purple;
    border-radius: 8px;
    box-shadow: 0 0 10p $pale-purple;
    display: flex; /* Utiliza flexbox para centrar los elementos */
    flex-direction: column; /* Alinea los elementos en una columna */
    justify-content: center; /* Centra verticalmente los elementos */
    align-items: center; /* Centra horizontalmente los elementos */

    .alert-success {
      color: $success;
      font-weight: bold;
    }

    .alert-error {
      color: $error;
      font-weight: bold;
    }

    .register {
      width: 100%;
      margin-bottom: 20px;
    }

    .register label {
      display: block;
      font-weight: bold;
    }

    .register input[type="text"],
    .register input[type="email"],
    .register input[type="password"] {
      background-color: $white;
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid $violet;
      border-radius: 5px;
      box-sizing: border-box;
    }

    .btn {
      display: block;
      width: auto;
      max-width: 400px;
      font-family: Poppins;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: $success;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
    }

    .btn:hover {
      background-color: $success-hover;
    }
  }
}
