@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.workout-content {
  display: flex;
  flex-direction: column;
  /*pantallas hasta 768px de ancho */
  /*pantallas más de  1200px de ancho */
}
.workout-content .types {
  display: flex;
  gap: 5px;
}
.workout-content .types .type {
  background-color: #ffffff;
  border: 2px solid #333;
  width: 100%;
}
.workout-content div {
  margin: 20px;
  border-radius: 15px;
}
.workout-content div p.type-workout {
  color: #333;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: bold;
  text-align: center;
}
.workout-content div p.workout-description {
  color: #333;
  font-size: 16px;
  font-family: "Poppins";
  text-align: justify;
  padding: 0 15px;
}
.workout-content div .image-container {
  border: none;
  display: flex;
  justify-content: center;
}
.workout-content div .image-workout {
  cursor: pointer;
  max-width: 15em;
  width: 70%;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
}
.workout-content div .image-workout:hover {
  transform: scale(1.1);
}
.workout-content .workout div {
  text-align: center;
  background-color: #ffffff;
  border: 2px solid #333;
}
.workout-content .workout div img.imagenes {
  max-width: 35%;
}
.workout-content .workout div p.name {
  color: #333;
  font-size: 25px;
  font-family: "Poppins";
  font-weight: bold;
  text-align: center;
}
.workout-content .workout div p.series {
  color: #333;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: bold;
  text-align: center;
}
.workout-content .workout div p.description {
  color: #333;
  font-size: 18px;
  font-family: "Poppins";
  text-align: justify;
  padding: 0 20px;
}
.workout-content .scroll-up {
  float: right;
  margin-right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #69306d;
  cursor: pointer;
}
.workout-content .scroll-up:hover {
  transform: scale(1.1);
}
.workout-content .scroll-up .icon {
  height: 32px;
}
.workout-content .scroll-up .icon:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .workout-content div p.workout-description {
    font-size: 12px;
  }
  .workout-content div p.type-workout {
    font-size: 16px;
  }
  .workout-content div .image-workout {
    width: 70%;
  }
  .workout-content .types {
    display: block;
  }
  .workout-content .types .type {
    width: auto;
  }
  .workout-content .workout div p.name {
    font-size: 13px;
  }
  .workout-content .workout div img.imagenes {
    max-width: 90%;
  }
  .workout-content .workout div p.series {
    font-size: 13px;
  }
  .workout-content .workout div p.description {
    font-size: 12px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .workout-content div p.workout-description {
    font-size: 18px;
  }
  .workout-content div p.type-workout {
    font-size: 21px;
  }
  .workout-content div .image-workout {
    width: 75%;
  }
  .workout-content .workout div p.name {
    font-size: 25px;
  }
  .workout-content .workout div img.imagenes {
    max-width: 50%;
  }
  .workout-content .workout div p.series {
    font-size: 22px;
  }
  .workout-content .workout div p.description {
    font-size: 20px;
  }
}