@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.nav {
  background-color: #69306d;
  height: 100px;
  width: 100%;
  font-family: Poppins;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Estilos para dispositivos móviles */
  /* Estilos para tabletas y dispositivos pequeños */
  /* Estilos para pantallas medianas (laptops y escritorios pequeños) */
  /* Estilos para pantallas grandes (escritorios) */
}
.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
}
.nav ul li {
  display: inline-block;
  margin-right: 40px;
}
.nav ul li:last-child {
  margin-right: 0; /* Elimina el margen derecho del último elemento */
}
.nav ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease; /* Transición suave del color */
}
.nav ul li a:hover {
  color: #a5668b; /* Cambiar el color al pasar el cursor */
}
.nav ul li:hover {
  transform: scale(1.1); /* Aumentar el tamaño del elemento al 120% */
}
@media screen and (max-width: 767px) {
  .nav {
    height: auto; /* Altura automática para acomodar el contenido */
    padding: 10px; /* Espaciado interno */
    justify-content: flex-start; /* Alinear elementos a la izquierda */
  }
  .nav ul {
    flex-direction: column; /* Alinear elementos verticalmente */
    align-items: flex-start; /* Alinear elementos a la izquierda */
    margin-top: 10px; /* Espacio entre la barra de navegación y el contenido superior */
  }
  .nav li {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav ul {
    justify-content: space-evenly; /* Espaciado uniforme entre elementos */
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .nav ul {
    justify-content: space-between; /* Espaciado automático entre elementos */
  }
}
@media screen and (min-width: 1441px) {
  .nav ul {
    justify-content: center; /* Alinear elementos al centro */
  }
}