@charset "UTF-8";
/* Estilos para el carrusel */
.layout-content {
  margin: 10px;
}

.carousel-content {
  margin-top: 50px;
}
.carousel-content .carousel {
  width: 100%;
  max-width: 800px; /* Ancho máximo del carrusel */
  margin: 20px auto 60px !important; /* Centrar el carrusel horizontalmente */
  /* Estilos para las imágenes dentro del carrusel */
  /* Estilos para los controles de navegación del carrusel */
  /* Estilos para la barra de navegación del carrusel */
  /* Media queries*/
  /*pantallas hasta 768px de ancho */
  /*pantallas hasta 1200px de ancho */
  /*pantallas más de  1200px de ancho */
}
.carousel-content .carousel .slide {
  display: flex; /* Usar flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}
.carousel-content .carousel .slide img {
  max-width: 450px;
  max-height: 450px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.5); /* Aplicar sombra para simular relieve */
  transition: box-shadow 0.3s ease; /* Agregar transición para suavizar el efecto */
}
.carousel-content .carousel .carousel-slider .slide img {
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.8); /* Aumentar la intensidad de la sombra en la imagen activa */
}
.carousel-content .carousel .carousel-slider .slide:not(.selected) img {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Reducir la intensidad de la sombra en las imágenes inactivas */
}
.carousel-content .carousel .control-arrow,
.carousel-content .carousel .control-dots,
.carousel-content .carousel .thumbs-wrapper {
  display: none; /* Ocultar las flechas de navegación */
}
.carousel-content .carousel .carousel-status {
  display: none; /* Ocultar el texto del número de diapositiva */
  position: relative; /* Establecer posición relativa */
}
@media screen and (max-width: 1200px) {
  .carousel-content .carousel .carousel-content .slide .carousel {
    display: flex;
    align-items: center;
    height: 70vh;
  }
}