@import "../../../../variables/Variables.scss";

.contact-form {
  font-family: Poppins;
  max-width: 400px;
  margin: 50px auto;
  margin-top: 5em;
  padding: 20px;
  background-color: $pale-purple;
  border-radius: 8px;
  box-shadow: 0 0 10p $pale-purple;
  display: flex; /* Utiliza flexbox para centrar los elementos */
  flex-direction: column; /* Alinea los elementos en una columna */
  justify-content: center; /* Centra verticalmente los elementos */
  align-items: center; /* Centra horizontalmente los elementos */

  .contact {
    width: 100%;
    margin-bottom: 20px;
  }

  .alert-success {
    color: $success;
    font-weight: bold;
  }

  .alert-error {
    color: $error;
    font-weight: bold;
  }

  label {
    display: block;
    font-weight: bold;
  }

  input[type="email"] {
    background-color: $white;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid $violet;
    border-radius: 5px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%; /* Ajusta el ancho del área de texto al 100% del contenedor */
    height: 100px; /* Establece una altura inicial para el área de texto */
    max-width: 300px;
    resize: vertical; /* Permite que el área de texto se redimensione verticalmente */
    padding: 10px;
    border: 1px solid $violet;
    border-radius: 5px;
  }

  .btn {
    display: block;
    width: 100px;
    max-width: 400px;
    font-family: Poppins;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: $success;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: $success-hover;
  }
}
