@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.footer {
  margin-top: auto;
  width: 100%;
  background-color: #333;
  color: white;
  font-family: Poppins;
  padding: 20px 0;
  text-align: center;
  z-index: 1; /* Establecer un índice de apilamiento más alto */
  /*pantallas hasta 768px de ancho */
  /*pantallas más de  1200px de ancho */
}
.footer a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}
.footer a:hover {
  color: #a5668b;
}
.footer .icon {
  color: #ffffff;
  margin-right: 10px;
}
.footer .icon:hover {
  color: #a5668b;
  transform: scale(1.1);
}
@media screen and (max-width: 768px) {
  .footer {
    width: 100%;
    font-size: 12px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .footer a {
    font-size: 22px;
  }
}