@charset "UTF-8";
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  z-index: 1; /* Establecer un índice de apilamiento más alto */
}
.footer a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}
.footer a:hover {
  color: #a5668b;
}
.footer .icon {
  color: #ffffff;
  margin-right: 10px;
}
.footer .icon:hover {
  color: #a5668b;
  transform: scale(1.1);
}
@media screen and (max-width: 767px) {
  .footer .footer {
    padding: 10px; /* Espaciado interno */
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .footer .footer {
    padding: 15px; /* Espaciado interno */
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .footer .footer {
    padding: 20px; /* Espaciado interno */
  }
}
@media screen and (min-width: 1441px) {
  .footer .footer {
    padding: 30px; /* Espaciado interno */
  }
}