@charset "UTF-8";
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
  z-index: 1; /* Establecer un índice de apilamiento más alto */
}
.footer a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s ease;
}
.footer a:hover {
  color: #a5668b;
}
.footer .icon {
  color: #ffffff;
  margin-right: 10px;
}
.footer .icon:hover {
  color: #a5668b;
  transform: scale(1.1);
}