@import "../../../../variables/Variables.scss";

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.initial {
  position: relative; /* Establece la posición relativa para poder posicionar los elementos hijos */

  img {
    width: 100%;
    height: auto;
  }

  .desktop-img {
    display: block;
  }

  .mobile-img {
    display: none;
  }

  .text {
    position: absolute; /* Establece la posición absoluta para que se coloque encima de la imagen */
    color: $white;
    font-weight: bold;
    font-size: 72px;
    font-family: Poppins;
    top: 40vh;
    left: 52%; /* Coloca el elemento a la mitad del ancho del contenedor */
    transform: translate(
      -50%,
      -50%
    ); /* Centra el elemento horizontal y verticalmente */
  }

  .btn-initial {
    padding: 10px 20px;
    background-color: $finn;
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    border: 3px solid $violet;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    width: auto;
    height: auto;
    animation: bounce 2s ease infinite;
    display: block;
    margin: 0 auto;
  }

  button:hover {
    background-color: $violet;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  /*pantallas hasta 768px de ancho */
  @media screen and (max-width: 768px) {
    .desktop-img {
      display: none;
    }

    .mobile-img {
      display: block;
    }
    .text {
      font-size: 40px;

      .btn-initial {
        font-size: 20px;
      }
    }
  }
  /*pantallas hasta 1200px de ancho */
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    .desktop-img {
      display: none;
    }

    .mobile-img {
      display: block;
    }
  }
  /*pantallas más de  1200px de ancho */
  @media screen and (max-width: 1200px) {
  }
}
