@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
.login-content {
  padding: 4em;
}
.login-content .alert-success {
  color: #ffffff;
}
.login-content .alert-error {
  color: #ffffff;
}

.login-form {
  font-family: Poppins;
  padding-bottom: 50px;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f2d7ee;
  border-radius: 8px;
  box-shadow: 0 0 10p #f2d7ee;
  display: flex; /* Utiliza flexbox para centrar los elementos */
  flex-direction: column; /* Alinea los elementos en una columna */
  justify-content: center; /* Centra verticalmente los elementos */
  align-items: center; /* Centra horizontalmente los elementos */
}
.login-form .alert-error {
  color: #ff0000;
  font-weight: bold;
}
.login-form .login {
  width: 100%;
  margin-bottom: 20px;
}
.login-form .login label {
  display: block;
  font-weight: bold;
}
.login-form .login input[type=password],
.login-form .login input[type=email] {
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #a5668b;
  border-radius: 5px;
  box-sizing: border-box;
}
.login-form .forgot-link {
  text-decoration: none;
  color: #69306d;
}
.login-form .forgot-link:hover {
  color: #0e103d;
}
.login-form .btn {
  font-family: Poppins;
  display: block;
  width: auto;
  max-width: 400px;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.login-form .btn:hover {
  background-color: #45a049;
}