@import "../../../../variables/Variables.scss";

.login-content {
  padding: 4em;

  .alert-success {
    color: $white;
  }

  .alert-error {
    color: $white;
  }

  @media screen and (max-width: 768px) {
    padding: 0em;
    margin-top: 2em;
  }
}

.login-form {
  font-family: Poppins;
  padding-bottom: 50px;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: $pale-purple;
  border-radius: 8px;
  box-shadow: 0 0 10p $pale-purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .alert-error {
    color: $error;
    font-weight: bold;
  }

  .login {
    width: 100%;
    margin-bottom: 20px;
  }

  .login label {
    display: block;
    font-weight: bold;
  }

  .login input[type="password"],
  .login input[type="email"] {
    background-color: $white;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid $violet;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .forgot-link {
    text-decoration: none;
    color: $finn;

    &:hover {
      color: $penn-blue;
    }
  }

  .btn {
    font-family: Poppins;
    display: block;
    width: auto;
    max-width: 400px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: $success;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: $success-hover;
  }

  // /*pantallas hasta 1200px de ancho */
  @media screen and (min-width: 769px) and (max-width: 1200px) {
    .login label {
      font-size: 20px;
    }

    .forgot-link {
      font-size: 20px;
    }

    .btn {
      font-size: 18px;
    }
  }
}
