@import "../../../../variables/Variables.scss";

.forgot-content {
  padding: 4em;

  .alert-success {
    color: $white;
  }

  .alert-error {
    color: $white;
  }
}

.forgot-form {
  font-family: Poppins;
  padding-bottom: 50px;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: $pale-purple;
  border-radius: 8px;
  box-shadow: 0 0 10p $pale-purple;
  display: flex; /* Utiliza flexbox para centrar los elementos */
  flex-direction: column; /* Alinea los elementos en una columna */
  justify-content: center; /* Centra verticalmente los elementos */
  align-items: center; /* Centra horizontalmente los elementos */

  .alert-success {
    color: $success;
  }

  .alert-error {
    color: $error;
  }

  .forgot {
    width: 100%;
    margin-bottom: 20px;
  }

  .forgot label {
    display: block;
    font-weight: bold;
  }

  .forgot input[type="email"] {
    background-color: $white;
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid $violet;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .text {
    font-weight: bold;
    font-size: 2em;
    display: flex;
    text-align: center;
    margin-left: -20px;
  }

  .info {
    display: flex;
    text-align: center;
    margin-top: 10px;
  }

  .btn {
    font-family: Poppins;
    font-weight: bold;
    display: block;
    width: auto;
    max-width: 400px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: $success;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: $success-hover;
  }
}
