@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

$penn-blue: #0e103d;
$finn: #69306d;
$violet: #a5668b;
$thistle: #d3bcc0;
$pale-purple: #f2d7ee;
$white: #ffffff;
$footer: #333;
$error: #ff0000;
$success: #4caf50;
$success-hover: #45a049;
