@import "../../../variables/Variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.nav {
  background-color: $finn;
  height: 100px;
  width: 100%;
  font-family: Poppins;
  display: flex;
  align-items: center;
  justify-content: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    font-size: 20px;

    &.logout-content {
      width: 153px;

      &:first-of-type {
        margin-right: auto;
        margin-left: 30px;
      }

      &:last-of-type {
        margin-left: auto;
        margin-right: 30px;
      }
    }

    li {
      display: inline-block;
      margin-right: 40px;

      &:last-child {
        margin-right: 0; /* Elimina el margen derecho del último elemento */
      }

      a {
        text-decoration: none;
        color: $white;
        transition: color 0.3s ease; /* Transición suave del color */
      }

      &:hover {
        transform: scale(1.1); /* Aumentar el tamaño del elemento al 120% */
      }

      .icon {
        color: $white;
        padding-right: 2px;
      }
    }
  }

  // Media queries

  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 767px) {
    height: auto; /* Altura automática para acomodar el contenido */
    padding: 10px; /* Espaciado interno */
    justify-content: flex-start; /* Alinear elementos a la izquierda */

    ul {
      flex-direction: column; /* Alinear elementos verticalmente */
      align-items: flex-start; /* Alinear elementos a la izquierda */
      margin-top: 10px; /* Espacio entre la barra de navegación y el contenido superior */
      width: 100%;
    }

    li {
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
      text-align: left; /* Alinear texto al centro */
      width: 100%;

      li:first-child {
        width: 100%;
        margin: 0 !important; // Asegurar que el primer elemento no tenga margen
      }
    }

    .logout-content {
      width: 100%; // Asegurar que ocupe todo el ancho disponible
      margin: 0 !important; // Eliminar cualquier margen que pueda estar afectando su posición
    }

    li .icon {
      margin-right: 0; /* Eliminar el margen entre el icono y el texto */
    }
  }

  /* Estilos para tabletas y dispositivos pequeños */
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    ul {
      justify-content: space-evenly; /* Espaciado uniforme entre elementos */
    }
  }

  /* Estilos para pantallas medianas (laptops y escritorios pequeños) */
  @media screen and (min-width: 1025px) and (max-width: 1440px) {
    ul {
      justify-content: space-between; /* Espaciado automático entre elementos */
    }
  }

  /* Estilos para pantallas grandes (escritorios) */
  @media screen and (min-width: 1441px) {
    ul {
      justify-content: center; /* Alinear elementos al centro */
    }
  }
}
