@import "../../../variables/Variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

.nav {
  background-color: $finn;
  height: 122px;
  font-family: "Poppins";
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $white;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    font-size: 20px;

    &.main-content {
      margin-left: 30px;
    }

    &.logout-content {
      margin-right: 30px;

      li {
        display: flex;
        align-items: center;

        &:hover {
          transform: unset;
        }
      }

      .logout {
        &:hover {
          transform: scale(1.1); /* Aumentar el tamaño del elemento al 120% */
        }
      }

      .image-profile {
        img {
          width: 4em;
          height: 4em;
          border-radius: 50%;
        }
      }
    }

    li {
      display: inline-block;
      margin-right: 40px;
      padding-left: 10px;

      &:last-child {
        margin-right: 0; /* Elimina el margen derecho del último elemento */
      }

      a {
        text-decoration: none;
        color: $white;
        transition: color 0.3s ease; /* Transición suave del color */
      }

      &:hover {
        transform: scale(1.1); /* Aumentar el tamaño del elemento al 120% */
      }

      .icon {
        color: $white;
        padding-right: 2px;
      }
    }
  }

  // Media queries

  /* Estilos para dispositivos móviles */
  @media screen and (max-width: 768px) {
    height: auto; /* Altura automática para acomodar el contenido */
    width: auto;
    padding: 10px;
    justify-content: flex-start; /* Alinear elementos a la izquierda */
    flex-direction: column;

    ul {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 10px; /* Espacio entre la barra de navegación y el contenido superior */
      width: 100%;

      &.main-content,
      &.logout-content {
        margin-left: 15px;
      }

      &.logout-content {
        margin-right: 0;
        margin-top: 0;
      }
    }

    li {
      display: block;
      margin-right: 0;
      margin-bottom: 10px;
      text-align: left; /* Alinear texto al centro */
      width: 100%;
    }

    .logout-content {
      width: 100%; // Asegurar que ocupe todo el ancho disponible
    }

    li .icon {
      margin-right: 0; /* Eliminar el margen entre el icono y el texto */
    }
  }

  @media screen and (max-width: 1200px) {
    ul {
      justify-content: space-between; /* Espaciado automático entre elementos */
    }
  }

  @media screen and (min-width: 1200px) {
    ul {
      justify-content: center; /* Alinear elementos al centro */
    }
  }
}
