@import "../../../variables/Variables.scss";

header {
  color: $white;
  height: 100px;
  width: 100%;
  font-family: Poppins;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Establece posición relativa para que podamos posicionar la imagen */

  .icon {
    margin-right: 5px;
  }

  // Media queries

  @media screen and (max-width: 767px) {
    height: auto; /* Altura automática para adaptarse al contenido */
    justify-content: center; /* Alinear elementos al centro */
  }

  @media screen and (min-width: 1025px) and (max-width: 1440px) {
    header {
      height: auto; /* Reducir la altura del encabezado */
      padding: 0 20px; /* Añadir un poco de espacio interno */
      justify-content: center;
    }

    .logo {
      margin-left: 20px; /* Añadir margen izquierdo al logo */
    }
  }

  @media screen and (min-width: 1441px) {
    header {
      height: 120px; /* Aumentar la altura del encabezado */
      padding: 0 40px; /* Añadir más espacio interno */
    }
    .logo {
      margin-left: 20px; /* Añadir más margen izquierdo al logo */
    }
  }
}
