@import "../../../variables/Variables.scss";

header {
  color: $white;
  height: 120px;
  width: 100%;
  font-family: "Poppins";
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Establece posición relativa para que podamos posicionar la imagen */

  a {
    text-decoration: none;
  }

  .name {
    color: $white;
  }

  .icon {
    margin-right: 5px;
    color: $white;
  }

  // Media queries

  @media screen and (max-width: 768px) {
    height: auto; /* Altura automática para adaptarse al contenido */
    justify-content: center; /* Alinear elementos al centro */

    h1 {
      font-size: 35px;
    }

    .icon {
      font-size: 1.75em;
    }
  }

  @media screen and (max-width: 1200px) {
    header {
      height: 120px; /* Aumentar la altura del encabezado */
      padding: 0 40px; /* Añadir más espacio interno */
    }
    .logo {
      margin-left: 20px; /* Añadir más margen izquierdo al logo */
    }
  }

  @media screen and (min-width: 1200px) {
  }
}
