@import "../../../variables/Variables.scss";

header {
  color: $white;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Establece posición relativa para que podamos posicionar la imagen */

  .icon {
    margin-right: 10px;
  }
}
